.body {
  background-color: #4a4f56;
}
.head {
  font-family: "Montserrat", sans-serif;
  color: #eb7e7f;
  text-align: center;
}
.sect {
  font-family: sans-serif;
  background-color: #3b3f45;
  padding-top: 35px;
}
.divo {
  padding-top: 15px;
  padding-bottom: 15px;
  width: calc(35% - 2px);
  margin: auto;
  margin-bottom: 10px solid #fff;
  background: #88839e;
  cursor: pointer;
  border-bottom: solid #fff;
}
.divo:hover {
  transform: scale(1.05);
  background: #5b586f;
}

.box {
  font-family: "Montserrat", sans-serif;
  color: #f9f9f9;
  cursor: pointer;
}

.check_input:hover + .box {
  background: #3b3f45;
}

input:checked + label {
  background: #625e77;
}
.check_input {
  margin: 0 15px;
}
.check_input:checked + label {
  text-decoration: line-through;
}
.foot {
  text-align: center;
  color: #eb7e7f;
  padding: 10px 0;
  width: 35%;
  margin: auto;
  margin-bottom: 15px;
  border-radius: 5px;
  background: #3b3f45;
}
